In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/1576-mlops-machine-learning/aula-5/casas.csv')

df.head(10)

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000
5    127.0  1993        2  143000
6    157.0  2004        2  307000
7    194.0  1973        2  200000
8    165.0  1931        2  129900
9    100.0  1939        1  118000

In [22]:
x = df.drop('preco', axis=1)
y = df['preco']

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.3, random_state=42)

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
model = LinearRegression()

model.fit(train_x, train_y)

LinearRegression()

In [28]:
pred = model.predict([[120, 2001, 2]])

pred

array([191436.53503831])

In [29]:
{
    "tamanho": 120,
    "ano": 2001,
    "garagem": 2
}

{'tamanho': 120, 'ano': 2001, 'garagem': 2}

In [30]:
import pickle

In [31]:
pickle.dump(model, open('model.sav', 'wb'))